.container
  %footer.footer
    .row
      .col-xs-12
        .col-xs-12.col-md-4
          %nav.widget-navigation
            %ul.navigation
              %li
                %a{:href => "https://nils-loewe.de/impressum.html"} Impressum
        .col-xs-12.col-md-4
          %nav.widget-navigation
            %ul.navigation
              %li
                %a{:href => "https://nils-loewe.de/datenschutz.html"} Datenschutzerklärung
        .col-xs-12.col-md-4
          %nav.widget-navigation
            %ul.navigation
              %li
                %a{:href => "https://nils-loewe.de/contact.html"} Kontakt
