%footer.footer.navbar.navbar-default.navbar-fixed-bottom
  .container
    .col-xs-12.col-md-4
      %nav.widget-navigation.push-down-30
        %ul.navigation
          %li
            %a{:href => "https://nils-loewe.de/impressum.html"} Impressum
    .col-xs-12.col-md-4
      %nav.widget-navigation.push-down-30
        %ul.navigation
          %li
            %a{:href => "https://nils-loewe.de/datenschutz.html"} Datenschutzerklärung
    .col-xs-12.col-md-4
      %nav.widget-navigation.push-down-30
        %ul.navigation
          %li
            %a{:href => "https://nils-loewe.de/contact.html"} Kontakt
