---
title: Architektur von Informationssystemen
---
%h1 Architektur von Informationssystemen

%table.table.table-striped
  %caption Vorlesungsunterlagen SS2016
  %thead
    %tr
      %th #
      %th Datum
      %th Slides
      %th pdf
  %tbody
    %tr
      %td 1
      %td 17.03.16
      %td=link_to 'TBD', 'vl01.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 2
      %td 24.03.16
      %td=link_to 'TBD', 'vl02.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 3
      %td 31.03.16
      %td=link_to 'TBD', 'vl03.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 4
      %td 07.04.16
      %td=link_to 'TBD', 'vl04.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 5
      %td 14.04.16
      %td=link_to 'TBD', 'vl05.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 6
      %td 21.04.16
      %td=link_to 'TBD', 'vl06.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 7
      %td 28.04.16
      %td=link_to 'TBD', 'vl07.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 8
      %td 12.05.16
      %td=link_to 'TBD', 'vl08.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 9
      %td 19.05.16
      %td=link_to 'TBD', 'vl09.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 10
      %td 26.05.16
      %td=link_to 'TBD', 'vl10.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 11
      %td 02.06.16
      %td=link_to 'TBD', 'vl11.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 12
      %td 09.06.16
      %td=link_to 'TBD', 'vl12.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 13
      %td 16.06.16
      %td=link_to 'TBD', 'vl13.html'
      %td=link_to 'TBD' , '#'

    %tr
      %td 14
      %td 23.06.16
      %td=link_to 'TBD', 'vl14.html'
      %td=link_to 'TBD' , '#'
