---
title: Praktikum 1: Vorbereitung auf ein Projekt
---
.boxed.push-down-45
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      .slides-box
        %h3 Praktikum Architektur von Informationssystemen
        %h5 Sommersemester 2016 – Aufgabe 1
        %p
          Nils Löwe <nils.loewe@haw-hamburg.de>, Tel. 0176 / 574 550 65

        %h5 Rahmenbedingungen für das Praktikum

        %p
          %ul
            %li Die Bearbeitung findet in 3er-Gruppen statt.
            %li Die Präsentation Ihrer Lösungen erfolgt im Rahmen der Praktikumstermine.
            %li Jede Gruppe hat dazu 20-25 Minuten Zeit. Bereiten Sie hierzu Folien und ggf. eine Live-Demonstration Ihres Systems vor.
            %li Zu einigen der Praktikumsaufgaben gehört eine Implementierung. Sofern in der Aufgabe nicht explizit anders angegeben, dürfen Sie Programmiersprache, Frameworks und Entwicklungsumgebung frei wählen.
            %li Fangen Sie frühzeitig mit der Bearbeitung Ihrer Aufgabe an; insbesondere nicht erst am Tag oder in der Nacht zuvor.

        %h5 Aufgabe 1: Vorbereitung auf einen Kundentermin

        %p
          Hintergrund: Sie arbeiten in einer Agentur, die primär von der Entwicklung von Softwaresystemen
          für Kunden lebt. Die Kunden sind häufig kleine oder mittelständische Unternehmen, die selber keine oder wenig Erfahrung
          mit Softwareentwicklung haben. Die Anfragen von diesen Kunden sind dementsprechend unvollständig, unklar und irreführend.

        %p
          Sie haben von Ihrer Teamleiterin die unten beschriebene Kundenanfrage bekommen. Es steht nun der Erstkontakt mit dem Kunden an
          und Sie sollen helfen, diesen Termin vorzubereiten. Das Ziel dieses ersten Termins besteht darin, die notwendigen Daten in Erfahrung zu
          bringen, um ein solides Angebot für das Projekt schreiben zu können. Dazu sind einige Fragen zu klären.

        %p
          Bereiten Sie für ihre Teamleiterin eine kleine Präsentation vor, in der sie die folgenden Punkte skizzieren:

          %ul
            %li Ein Kontextdiagramm: Welche Schnittstellen zu Fremdsystemen wird es geben?
            %li Welche Technologien würden sie einsetzen? Sprachen, Frameworks etc.?
            %li Welche nichtfunktionalen Anforderungen kennen Sie noch nicht? (Anzahl User, Performance, Skalierbarkeit, Antwortzeiten, ...)
            %li Welche Fragen müssen Sie mit dem Kunden klären um einen ersten Architekturentwurf machen zu können?

        .color-box
          %h5 Projektanfrage: Zeitplanungs-Software

          %p
            Sehr geehrte Damen und Herren,
          %p
            wir, die ACME Corp. sind ein mittelständisches Unternehmen mit Sitz in Hamburg, das sich auf die Wartung Windenergieanlagen
            der Hersteller Vestas, Nordex und Enercon spezialisiert hat. Unsere Kunden sind die Betreiber von einzelnen Anlagen oder
            ganzen Windparks, für die wir die technische Wartung der Anlagen ausführen. Diese Wartung umfasst sowohl die regelmäßigen
            Kontrollen, als auch Notfalleinsätze und Rund-um-die-Uhr Service.
          %p
            Unsere Servicekräfte werden derzeit noch über ein manuelles Planungssystem zu den jeweiligen Einsätzen eingeteilt, dafür soll
            nun eine Softwarelösung zur Unterstützung und Vereinfachung der Planung entwickelt werden. Da Sie ähnliche Systeme bereits
            entwickelt haben, bitten wir Sie um ein Angebot über die Entwicklung einer Software mit den folgenden Funktionen
          %p
            %ul
              %li Zugriff auf das bestehende CRM-Tool mit den Kundendaten
              %li Zugriff auf die bestehende Personaldatenbank (Standort der Servicekräfte)
              %li Automatische Planung von Terminen regelmäßiger Wartungsintervalle für den nächstgelegenen Servicepartner
              %li Erstellung von Wochenplänen mit Terminen für jede Servicekraft
              %li Erstellung eines Notfalltermins für die nächstgelegene, freie Servicekraft bei Ausfall einer Kundenanlage
          %p
            Für Rückfragen stehen wir gern zur Verfügung und wir freuen uns auf ein erstes Gespräch zur Klärung Ihrer Rückfragen.
          %p
            Viele Grüße,
            %br
            John Doe, ACME Corp.


        %p
          %i
            Betrachten Sie diese Aufgabe als Vorbereitung auf die unscharfe Realität in der Softwareentwicklung. Es gibt nicht die eine,
            korrekte Antwort. Versuchen Sie einfach, möglichst gute Fragen auf die Kundenanfrage zu stellen und lassen Sie sich davon
            überraschen, wie unterschiedlich die Ansätze der verschiedenen Gruppen sein werden.
        %p
          %b
            Die Präsentation ist zum Praktikumstermin über Moodle/emil in einer einzigen ZIP-Datei abzugeben. In der Praktikumszeit sind
            keine Änderungen mehr erlaubt, daher können Sie konzentriert den Vorträgen ihrer Kommilitonen folgen.
