---
title: Praktikum 4 - Architekturbewertung
---
.boxed.push-down-45
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      .slides-box
        %h3 Praktikum Architektur von Informationssystemen
        %h5 Sommersemester 2016 – Aufgabe 4
        %p
          Nils Löwe <nils.loewe@haw-hamburg.de>, Tel. 0176 / 574 550 65

        %h5 Rahmenbedingungen für das Praktikum

        %p
          %ul
            %li Die Bearbeitung findet in 3er-Gruppen statt.
            %li Die Präsentation Ihrer Lösungen erfolgt im Rahmen der Praktikumstermine.
            %li Jede Gruppe hat dazu 20-25 Minuten Zeit. Bereiten Sie hierzu Folien und ggf. eine Live-Demonstration Ihres Systems vor.
            %li Zu einigen der Praktikumsaufgaben gehört eine Implementierung. Sofern in der Aufgabe nicht explizit anders angegeben, dürfen Sie Programmiersprache, Frameworks und Entwicklungsumgebung frei wählen.
            %li Fangen Sie frühzeitig mit der Bearbeitung Ihrer Aufgabe an; insbesondere nicht erst am Tag oder in der Nacht zuvor.

        %h5 Aufgabe 4: Architekturbewertung

        %p
          Hintergrund: Neben dem Architekturentwurf den Sie für das letzte Praktikum erstellt haben, wurde
          von einem Nachbarteam ein weiterer Entwurf vorgeschlagen. Sie sollen den vorgeschlagenen Entwurf
          bewerten und die Vor-/Nachteile gegenüber Ihrem eigenen Entwurf analysieren und präsentieren.

        %p
          Der Rahmen des Projekts ist die zuvor beschriebene Zeitplanungssoftware für einen
          Anbieter von Wartungen von Windenergieanlagen. Die Software hat eine Anbindung
          die Kundendatenbank und die Mitarbeiterdatenbank. Als Kundendatenbank wird "SugarCRM"
          eingesetzt und die Mitarbeiterdatenbank ist eine einfache MySQL Datenbank.

        %p
          Das Ergebnis dieser Aufgabe soll wieder eine reine Präsentation sein, es muss kein
          Code geschrieben werden

        .color-box
          %h5 Aufgabenbeschreibung

          %p
            Bewerten Sie den unten vorgeschlagenen Architekturentwurf in Bezug auf die folgenden Kriterien:
            %ul
              %li Vollständigkeit des Entwurfs (inhaltliche Anforderungen)
              %li Können die nichtfunktionalen Anforderungen erfüllt werden?
              %li Eignung der vorgeschlagenen Technologien
              %li Komplexität des Entwurfs
              %li Umsetzbarkeit in mehreren Teams






          %h4 Use Cases
          %p

            Die folgenden Use Cases sollen durch das System abgedeckt sein.

            %ul
              %li Eine Servicekraft greift nur lesend auf seinen Wochenplan zu.
              %li Ein "Planer" erstellt 1x/Woche die Wochenpläne.
              %li Servicekräfte werden per E-Mail über neue Pläne, bzw. Änderungen informiert.

          %h4 Funktion: Zugriff auf die Pläne
          %p
            %ul
              %li Die Pläne sollen über ein Web-Interface mit user/Passwort login lesbar sein.
              %li Die Pläne sollen zusätzlich über eine REST API abrufbar sein, um ggf. Android/iPhone Apps zu unterstützen.

          %h4 Funktion: Erstellen der Pläne
          %p
            %ul
              %li Die Pläne sollen teil-automatisiert erstellt werden. Basierend auf den Vorgaben macht die Software einen ersten Vorschlag, der dann manuell geprüft und vervollständigt wird.
              %li Die Pläne werden an einem Bürorechner erstellt, ob die Software eine Webanwendung oder eine Desktopanwendung ist, ist dabei egal.
              %li Die Vorgaben für die Pläne bestehen aus der Verfügbarkeit der Servicekräfte, den anstehenden Wartungsterminen für die Woche und dem prozentualen Puffer, der für jede Servicekraft für Notfälle vorgehalten werden soll.
              %li Die Verfügbarkeit und der Puffer werden direkt aus der MySQL Datenbank gelesen.
              %li Die Wartungstermine werden per REST API aus dem SugarCRM ausgelesen. Ein Wartungstermin enthält u.a. die Angaben über Anfahrtdauer und Dauer der Wartung (1 Stunde min / 2 Tage max.)
              %li Ist ein Plan fertig, soll das System eine E-Mail an die Servicekraft versenden.

          %h4 Nutzergruppen
          %p
            %ul
              %li Etwa 150 User greifen als Wartungspersonal auf ihre Wochenpläne zu. Es erfolgt ein einfacher, lesender Zugriff
              %li 1-3 Planer erstellen die Pläne 1x/Woche
              %li Bei den Servicekräften wird mit einem jährlichen Wachstum von 10-20 Personen gerechnet





          %h4 Ihre Aufgabe
          %p
            Analysieren Sie den vorgeschlagenen Entwurf in Bezug auf Vor-/Nachteile und auf die Eignung zur
            Erfüllung der funktionalen und nichtfunktionalen Anforderungen der vergangenen Aufgabenstellung.class_selector
            Erstellen Sie für den Praktikumstermin eine Präsentation in der Sie die Ergebnisse Ihrer Analyse vorstellen.

        %p
          Die Präsentation ist bis zum Praktikumstermin per Mail an nils@loewe.io abzugeben. In der Praktikumszeit sind
          keine Änderungen mehr vorgesehen.
