---
title: Vorlesung 8 - Dokumentation
layout: slide
---

%section{"data-markdown" => ""}
  \## Architektur von Informationssystemen
  \#### Hochschule für angewandte Wissenschaften
  \#### Sommersemester 2016
  Nils Löwe / [nils@loewe.io](mailto:nils@loewe.io) / @NilsLoewe

%section{"data-markdown" => ""}
  \## 3. Praktikum
  [Praktikum 3: Architekturentwurf](https://ai2016.nils-loewe.de/p03.html)
  \### Fragen?

  * Wiederholung Letzte Woche
  * Klausurfragen der letzten Woche
  * Beispiel für ARC42 Doku
  * Beispiel für Guidebook Doku
  * Start in Technologien
  ** Wie wähle ich ein Framework aus?
  ** Aktuelle Technologien
  *** REST/HTTP
  *** AMQP
  ** Frameworks
  *** Ruby on Rails
  *** Twitter Bootstrap
  *** NodeJS
