---
title: Vorlesung X
layout: slide
---

%section
  TBD


%section{"data-markdown" => ""}
  \## Aktuelle Technologien
  * REST/HTTP
  * AMQP

%section{"data-markdown" => ""}
  \## Frameworks
  * Ruby on Rails
  * Twitter Bootstrap
  * NodeJS
