---
title: Vorlesung X
layout: slide
---

%section
  TBD

%section{"data-markdown" => ""}

  \#### Vorbereitung auf Klausuraufgaben (VL6)

  * Nennen Sie drei typische Aufgaben von Softwarearchitekten
  * Welche Arten von Sichten gibt es?
  * Welche nicht-funktionalen Anforderungen sollten Sie beim Architekturentwurf ggf. berücksichtigen?
  * Was besagt das Brook'sche Gesetz?
  * Nennen und erläutern Sie drei Anti-Patterns
  * Für welche Systeme würden Sie eine Blackboard-Architektur verwenden?

%section{"data-markdown" => ""}

  \#### Vorbereitung auf Klausuraufgaben (VL7)

  * Was waren die Gründe für Softwarearchitektur?
  * Was sollte eine Kontext-Sicht enthalten?
  * In welcher Beziehung stehen Architektur und Design?
  * Was besagt 'Conways Law'?
  * Nennen und erläutern Sie drei Arten von Architekturmustern
  * Für welche Systeme wird das MVC Muster typischerweise verwendet?

%section{"data-markdown" => ""}

  \#### Vorbereitung auf Klausuraufgaben (VL8)

  * Was ist ein Framework?
  * Nennen sie drei Vorteile für die Verwendung von Frameworks!
  * Wann ist die Verwendung eines Frameworks sinnvoll?
  * Nennen sie drei Auswahlkriterien für Frameworks!
  * Für welche Systeme wird das Microkernel Architekturmuster typischerweise verwendet?
  * Was ist der Grundgedanke hinter dem "Software Guidebook"?

%section{"data-markdown" => ""}

  \#### Vorbereitung auf Klausuraufgaben (VL9)

  * Was sind zwei Grundprinzipien, die hinter Ruby on Rails stecken?
  * Nennen sie drei Nachteile für die Verwendung von Frameworks!
  * Wann ist die Verwendung eines Frameworks nicht sinnvoll?
  * Nennen sie drei Auswahlkriterien für Frameworks!
  * Für welche Systeme wird das MVP Architekturmuster typischerweise verwendet?
  * Wie ist das ARC42 Template entstanden?
